---
import { formatSize, listPools, listOptions } from '@/lib/utils'
import Availability from './Availability.astro'

const pools = await listPools()
---

<table class="[&_td]:px-2 [&_td]:text-sm [&_th]:px-2 [&_th]:text-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Used</th>
      <th>Available</th>
      <th>Compression</th>
      <th>Logical Used</th>
      <th>Ratio</th>
      <th>Copies</th>
      <th>Dedup</th>
      <th>Prefetch</th>
      <th>Primary Cache</th>
      <th>Secondary Cache</th>
      <th>Quota</th>
    </tr>
  </thead>
  <tbody>
    {
      Object.entries(await pools).map(([pool, info]) => {
        return (
          <>
            <tr>
              <td>{info.name}</td>
              <td class="text-right" colspan="2">
                <Availability used={info.used} available={info.available} />
              </td>
              <td>{info.compression}</td>
              <td class="text-right">{formatSize(info.logicalused)}</td>
              <td class="text-right">{info.ratio}</td>
              <td>{info.copies}</td>
              <td>{info.dedup}</td>
              <td>{info.prefetch}</td>
              <td>{info.primarycache}</td>
              <td>{info.secondarycache}</td>
              <td class="text-right">
                {info.quota ? formatSize(info.quota) : '--'}
              </td>
            </tr>
            {Object.entries(info.datasets).map(([dataset, datasetInfo]) => {
              return (
                <tr>
                  <td>
                    <span class="ml-2">{datasetInfo.name}</span>
                  </td>
                  <td class="text-right" colspan="2">
                    <Availability
                      used={datasetInfo.used}
                      available={datasetInfo.available}
                    />
                  </td>
                  <td>{datasetInfo.compression}</td>
                  <td class="text-right">
                    {formatSize(datasetInfo.logicalused)}
                  </td>
                  <td class="text-right">{datasetInfo.ratio}</td>
                  <td>{datasetInfo.copies}</td>
                  <td>{datasetInfo.dedup}</td>
                  <td>{datasetInfo.prefetch}</td>
                  <td>{datasetInfo.primarycache}</td>
                  <td>{datasetInfo.secondarycache}</td>
                  <td class="text-right">
                    {datasetInfo.quota ? formatSize(datasetInfo.quota) : '--'}
                  </td>
                </tr>
              )
            })}
          </>
        )
      })
    }
  </tbody>
</table>
